USE [cs6232-g5]
GO
ALTER TABLE [dbo].[ReturnTransaction] DROP CONSTRAINT [FK_Member_ReturnTransaction]
GO
ALTER TABLE [dbo].[ReturnTransaction] DROP CONSTRAINT [FK_Employee_ReturnTransaction]
GO
ALTER TABLE [dbo].[ReturnLineItem] DROP CONSTRAINT [FK_ReturnTransaction_ReturnLineItem]
GO
ALTER TABLE [dbo].[ReturnLineItem] DROP CONSTRAINT [FK_RentalLineItem_ReturnLineItem]
GO
ALTER TABLE [dbo].[RentalTransaction] DROP CONSTRAINT [FK_Member_RentalTransaction]
GO
ALTER TABLE [dbo].[RentalTransaction] DROP CONSTRAINT [FK_Employee_RentalTransaction]
GO
ALTER TABLE [dbo].[RentalLineItem] DROP CONSTRAINT [FK_RentalTransaction_RentalLineItem]
GO
ALTER TABLE [dbo].[RentalLineItem] DROP CONSTRAINT [FK_Furniture_RentalLineItem]
GO
ALTER TABLE [dbo].[Furniture] DROP CONSTRAINT [FK_Style_Furniture]
GO
ALTER TABLE [dbo].[Furniture] DROP CONSTRAINT [FK_Category_Furniture]
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [FK_Login_Employee]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Style]') AND type in (N'U'))
DROP TABLE [dbo].[Style]
GO
/****** Object:  Table [dbo].[ReturnTransaction]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReturnTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[ReturnTransaction]
GO
/****** Object:  Table [dbo].[ReturnLineItem]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReturnLineItem]') AND type in (N'U'))
DROP TABLE [dbo].[ReturnLineItem]
GO
/****** Object:  Table [dbo].[RentalTransaction]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RentalTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[RentalTransaction]
GO
/****** Object:  Table [dbo].[RentalLineItem]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RentalLineItem]') AND type in (N'U'))
DROP TABLE [dbo].[RentalLineItem]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member]') AND type in (N'U'))
DROP TABLE [dbo].[Member]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Login]') AND type in (N'U'))
DROP TABLE [dbo].[Login]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Furniture]') AND type in (N'U'))
DROP TABLE [dbo].[Furniture]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/1/2024 11:56:06 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
USE [master]
GO
/****** Object:  Database [cs6232-g5]    Script Date: 4/1/2024 11:56:06 AM ******/
DROP DATABASE [cs6232-g5]
GO
/****** Object:  Database [cs6232-g5]    Script Date: 4/1/2024 11:56:06 AM ******/
CREATE DATABASE [cs6232-g5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cs6232-g5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cs6232-g5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cs6232-g5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cs6232-g5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g5]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1000,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[Sex] [char](1) NULL,
	[DateOfBirth] [date] NOT NULL,
	[AddressLine1] [varchar](50) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [varchar](5) NOT NULL,
	[Phone] [varchar](20) NULL,
	[IsAdmin] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[FurnitureID] [int] IDENTITY(100,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [text] NOT NULL,
	[Category] [varchar](25) NOT NULL,
	[Style] [varchar](25) NOT NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
	[TotalQuantity] [int] NOT NULL,
	[InStockQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Furniture] PRIMARY KEY CLUSTERED 
(
	[FurnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [varchar](50) NOT NULL,
	[Password] [varbinary](64) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(100,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[Sex] [char](1) NULL,
	[DateOfBirth] [date] NOT NULL,
	[AddressLine1] [varchar](50) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [varchar](5) NOT NULL,
	[Phone] [varchar](20) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalLineItem]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalLineItem](
	[RentalLineItemID] [int] IDENTITY(1,1) NOT NULL,
	[RentalTransactionID] [int] NOT NULL,
	[FurnitureID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[QuantityReturned] [int] NOT NULL,
	[DailyCost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RentalLineItem] PRIMARY KEY CLUSTERED 
(
	[RentalLineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransaction]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransaction](
	[RentalTransactionID] [int] IDENTITY(10000,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[RentalDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RentalTransaction] PRIMARY KEY CLUSTERED 
(
	[RentalTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnLineItem]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnLineItem](
	[ReturnLineItemID] [int] IDENTITY(1,1) NOT NULL,
	[RentalLineItemID] [int] NOT NULL,
	[ReturnTransactionID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DailyCost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ReturnLineItem] PRIMARY KEY CLUSTERED 
(
	[ReturnLineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTransaction]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTransaction](
	[ReturnTransactionID] [int] IDENTITY(10000,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ReturnTransaction] PRIMARY KEY CLUSTERED 
(
	[ReturnTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 4/1/2024 11:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[Style] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Style] PRIMARY KEY CLUSTERED 
(
	[Style] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([Category]) VALUES (N'Armchair')
INSERT [dbo].[Category] ([Category]) VALUES (N'Bed')
INSERT [dbo].[Category] ([Category]) VALUES (N'Bookshelf')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone], [IsAdmin], [Username]) VALUES (1027, N'Smith', N'Jane', N'F', CAST(N'1969-12-31' AS Date), N'123 Main St.', NULL, N'Atlanta', N'GA', N'30317', N'404-555-1234', 1, N'jane')
INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone], [IsAdmin], [Username]) VALUES (1028, N'Barbero', N'David', N'M', CAST(N'2024-01-01' AS Date), N'University of West Georgia', N'1601 Maple St.', N'Carrollton', N'GA', N'30118', N'678-839-5000', 1, N'david')
INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone], [IsAdmin], [Username]) VALUES (1029, N'Blood', N'Anna', N'F', CAST(N'2024-01-01' AS Date), N'University of West Georgia', N'1601 Maple St.', N'Carrollton', N'GA', N'30118', N'678-839-5000', 1, N'anna')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Furniture] ON 

INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [Category], [Style], [DailyRate], [TotalQuantity], [InStockQuantity]) VALUES (101, N'Classic Armchair', N'A conventional armchair that seats one person. Fits into a family rooms decorated with traditional furnishings.', N'Armchair', N'Traditional', CAST(3.10 AS Decimal(10, 2)), 20, 17)
INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [Category], [Style], [DailyRate], [TotalQuantity], [InStockQuantity]) VALUES (102, N'Country Armchair', N'An old-fashioned armchair that seats one person. Looks good in a family room setting with rustic décor.', N'Armchair', N'Rustic', CAST(2.50 AS Decimal(10, 2)), 2, 2)
INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [Category], [Style], [DailyRate], [TotalQuantity], [InStockQuantity]) VALUES (103, N'Retro Armchair', N'A throwback accent chair that is suited for one person sitting. Ideal in a living room for a funky 1970s vibe.', N'Armchair', N'Vintage', CAST(4.50 AS Decimal(10, 2)), 16, 10)
SET IDENTITY_INSERT [dbo].[Furniture] OFF
GO
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'anna', 0x616E6E61)
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'anna2', 0xA70F9E38FF015AFAA9AB0AACABEE2E13)
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'babbage', 0x62616262616765)
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone]) VALUES (100, N'Ash', N'Andrew', N'M', CAST(N'1982-07-15' AS Date), N'587 Pepperdine Ave.', NULL, N'Marietta', N'GA', N'30006', N'404-555-0101')
INSERT [dbo].[Member] ([MemberID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone]) VALUES (101, N'Birch', N'Bella', N'F', CAST(N'1995-11-29' AS Date), N'3241 Baylor Blvd.', N'Apt. 3B', N'Decatur', N'GA', N'30030', N'404-555-0202')
INSERT [dbo].[Member] ([MemberID], [LastName], [FirstName], [Sex], [DateOfBirth], [AddressLine1], [AddressLine2], [City], [State], [Zip], [Phone]) VALUES (102, N'Cedar', N'Chloe', N'F', CAST(N'1978-04-03' AS Date), N'396 Marquette St.', N'Basement', N'Alpharetta', N'GA', N'30004', N'470-555-0303')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalLineItem] ON 

INSERT [dbo].[RentalLineItem] ([RentalLineItemID], [RentalTransactionID], [FurnitureID], [Quantity], [QuantityReturned], [DailyCost]) VALUES (118, 10065, 101, 1, 0, CAST(3.10 AS Decimal(10, 2)))
INSERT [dbo].[RentalLineItem] ([RentalLineItemID], [RentalTransactionID], [FurnitureID], [Quantity], [QuantityReturned], [DailyCost]) VALUES (119, 10065, 127, 1, 0, CAST(1.40 AS Decimal(10, 2)))
INSERT [dbo].[RentalLineItem] ([RentalLineItemID], [RentalTransactionID], [FurnitureID], [Quantity], [QuantityReturned], [DailyCost]) VALUES (120, 10065, 130, 1, 0, CAST(5.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RentalLineItem] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalTransaction] ON 

INSERT [dbo].[RentalTransaction] ([RentalTransactionID], [EmployeeID], [MemberID], [RentalDate], [DueDate], [TotalCost]) VALUES (10065, 1036, 100, CAST(N'2024-04-01' AS Date), CAST(N'2024-04-08' AS Date), CAST(101.50 AS Decimal(10, 2)))
INSERT [dbo].[RentalTransaction] ([RentalTransactionID], [EmployeeID], [MemberID], [RentalDate], [DueDate], [TotalCost]) VALUES (10066, 1035, 101, CAST(N'2024-04-01' AS Date), CAST(N'2024-05-01' AS Date), CAST(414.00 AS Decimal(10, 2)))
INSERT [dbo].[RentalTransaction] ([RentalTransactionID], [EmployeeID], [MemberID], [RentalDate], [DueDate], [TotalCost]) VALUES (10067, 1034, 102, CAST(N'2024-04-01' AS Date), CAST(N'2024-07-01' AS Date), CAST(377.65 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RentalTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnLineItem] ON 

INSERT [dbo].[ReturnLineItem] ([ReturnLineItemID], [RentalLineItemID], [ReturnTransactionID], [Quantity], [DailyCost]) VALUES (25, 128, 10018, 1, CAST(8.10 AS Decimal(10, 2)))
INSERT [dbo].[ReturnLineItem] ([ReturnLineItemID], [RentalLineItemID], [ReturnTransactionID], [Quantity], [DailyCost]) VALUES (26, 129, 10018, 2, CAST(5.80 AS Decimal(10, 2)))
INSERT [dbo].[ReturnLineItem] ([ReturnLineItemID], [RentalLineItemID], [ReturnTransactionID], [Quantity], [DailyCost]) VALUES (27, 130, 10018, 2, CAST(8.40 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ReturnLineItem] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnTransaction] ON 

INSERT [dbo].[ReturnTransaction] ([ReturnTransactionID], [EmployeeID], [MemberID], [ReturnDate], [TotalCost]) VALUES (10018, 1033, 103, CAST(N'2024-04-01' AS Date), CAST(-3991.70 AS Decimal(10, 2)))
INSERT [dbo].[ReturnTransaction] ([ReturnTransactionID], [EmployeeID], [MemberID], [ReturnDate], [TotalCost]) VALUES (10019, 1033, 110, CAST(N'2024-04-01' AS Date), CAST(-60.00 AS Decimal(10, 2)))
INSERT [dbo].[ReturnTransaction] ([ReturnTransactionID], [EmployeeID], [MemberID], [ReturnDate], [TotalCost]) VALUES (10020, 1031, 120, CAST(N'2024-04-01' AS Date), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ReturnTransaction] OFF
GO
INSERT [dbo].[Style] ([Style]) VALUES (N'Coastal')
INSERT [dbo].[Style] ([Style]) VALUES (N'Contemporary')
INSERT [dbo].[Style] ([Style]) VALUES (N'Minimalist')
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Login_Employee] FOREIGN KEY([Username])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Login_Employee]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Category_Furniture] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Category])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Category_Furniture]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Style_Furniture] FOREIGN KEY([Style])
REFERENCES [dbo].[Style] ([Style])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Style_Furniture]
GO
ALTER TABLE [dbo].[RentalLineItem]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_RentalLineItem] FOREIGN KEY([FurnitureID])
REFERENCES [dbo].[Furniture] ([FurnitureID])
GO
ALTER TABLE [dbo].[RentalLineItem] CHECK CONSTRAINT [FK_Furniture_RentalLineItem]
GO
ALTER TABLE [dbo].[RentalLineItem]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransaction_RentalLineItem] FOREIGN KEY([RentalTransactionID])
REFERENCES [dbo].[RentalTransaction] ([RentalTransactionID])
GO
ALTER TABLE [dbo].[RentalLineItem] CHECK CONSTRAINT [FK_RentalTransaction_RentalLineItem]
GO
ALTER TABLE [dbo].[RentalTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Employee_RentalTransaction] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[RentalTransaction] CHECK CONSTRAINT [FK_Employee_RentalTransaction]
GO
ALTER TABLE [dbo].[RentalTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Member_RentalTransaction] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[RentalTransaction] CHECK CONSTRAINT [FK_Member_RentalTransaction]
GO
ALTER TABLE [dbo].[ReturnLineItem]  WITH CHECK ADD  CONSTRAINT [FK_RentalLineItem_ReturnLineItem] FOREIGN KEY([RentalLineItemID])
REFERENCES [dbo].[RentalLineItem] ([RentalLineItemID])
GO
ALTER TABLE [dbo].[ReturnLineItem] CHECK CONSTRAINT [FK_RentalLineItem_ReturnLineItem]
GO
ALTER TABLE [dbo].[ReturnLineItem]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTransaction_ReturnLineItem] FOREIGN KEY([ReturnTransactionID])
REFERENCES [dbo].[ReturnTransaction] ([ReturnTransactionID])
GO
ALTER TABLE [dbo].[ReturnLineItem] CHECK CONSTRAINT [FK_ReturnTransaction_ReturnLineItem]
GO
ALTER TABLE [dbo].[ReturnTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Employee_ReturnTransaction] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[ReturnTransaction] CHECK CONSTRAINT [FK_Employee_ReturnTransaction]
GO
ALTER TABLE [dbo].[ReturnTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Member_ReturnTransaction] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[ReturnTransaction] CHECK CONSTRAINT [FK_Member_ReturnTransaction]
GO
USE [master]
GO
